@use "variables" as v;

/* ====== Header ====== */
.not-bar {
    .box {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .text {
            color: v.$name;
        }

        .num {
            background-color: v.$not-num-bg;
            color: v.$not-cont-bg;
            width: 2rem;
            height: 1.625rem;
            font-size: 1rem;
            font-weight: v.$fw-eb;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .mark {
        color: v.$not-par;

        &:hover {
            color: v.$not-num-bg;
            font-weight: v.$fw-eb;
            cursor: pointer;
            transition: all .1s ease-in-out;
        }
    }
}

/* ====== Notification ====== */
.notification {
    display: flex;
    gap: 1rem;
    align-items: start;
    border-radius: 0.5rem;
    padding: 1rem;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        background-color: v.$not-unread;
    }

    .avatar {
        max-width: 2.5rem;

        @media screen and (min-width: v.$min-width) {
            max-width: 3rem;
        }
    }

    .content {

        .text {
            color: v.$not-par;
            line-height: 1.325;

            .name {
                color: v.$name;
                font-weight: v.$fw-eb;
                margin-inline-end: 0.25rem;

                &:hover {
                    color: v.$not-num-bg;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }
            }

            .group {
                color: v.$not-num-bg;
                font-weight: v.$fw-eb;

                &:hover {
                    cursor: pointer;
                }
            }

            .post {
                font-weight: v.$fw-eb;
                margin-inline-start: 0.25rem;

                &:hover {
                    color: v.$not-num-bg;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }
            }
        }

        .time {
            color: v.$time;
        }

        .message {
            color: v.$not-par;
            border: 1px solid v.$message-border;
            border-radius: 0.5rem;
            padding: 1rem;
            margin-block: 0.5rem 0;
            line-height: 1.25;

            &:hover {
                background-color: v.$body-bg;
                border-color: v.$body-bg;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
        }
    }
    
    .chess {
        max-width: 2.5rem;
        margin-inline-start: auto;

        &:hover {
            cursor: pointer;
        }
    }
}

.is-unread {
    background-color: v.$not-unread;
}